body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  background : linear-gradient(pink , 50%, rgb(20, 20, 75));
  background-repeat: no-repeat;
  background-size: cover;
}

textarea {
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
}

.description {
  white-space: pre-wrap;
}

.time-block {
  border-radius: 15px;
}

.row {
  border-top: 1px solid white;
}

.hour {
  background-color: #dfbfbfd7;
  border-top-left-radius : 15px;
  border-bottom-left-radius: 15px;
  color: #000000;
  border-top: 1px dashed #000000;
}

.past {
  background-color: #8e8e8ed9;
  color: white;
}

.future {
  background-color: #dfbfbfd7;
  color: white;
}

.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #3390be61;
  color: white;
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}

#reset {
  margin-top: 10px;
  margin-left: 47%;
  margin-bottom: 10px;
  border-radius: 15px;
  padding: 5px;
}
